<div id="footer" style="margin-top:0px;">
    
<div id="footer_icons">
<a target="_blank" href="https://www.facebook.com/ishan.subedi.5"><img class="footer_icons" src="/static/img/fb.gif"></a>
<a target="_blank" href="https://twitter.com/ikushum"><img class="footer_icons" src="/static/img/twitter.gif"></a>
<a target="_blank" href="https://instagram.com/ishan_kushum"><img class="footer_icons" src="/static/img/insta.gif"></a>
<a target="_blank" href="https://github.com/ikushum"><img class="footer_icons" src="/static/img/github.gif"></a>
<a target="_blank" href="https://www.linkedin.com/in/ishan-subedi-41633a132"><img class="footer_icons" src="/static/img/linkedin.gif"></a>
</div>

<text class="footer"> &#169 2016 Ishan Subedi  </text> <br>
<text class="footer"> All rights reserved </text> <br>
<text class="footer"> Further details: ikushum@gmail.com </text>
</div>