<!--------responsive menu------------>
<div id="res_menu">
<div id="res_menu_label">
<div id="line"></div><div id="line"></div><div id="line"></div>
</div>
</div>
<!---------Normal Menu----------->
<div id="menu2"></div>
<div id="menu">
<img class="logo" src="http://ikushum.herokuapp.com/static/img/logo.gif">
<div id="menu_tabs">
<a id="1"><p class="menu"> HOME </p></a>
<a id="2"><p class="menu"> ABOUT </p></a>
<a id="3"><p class="menu"> GALLERY </p></a>
<a id="5"><p class="menu"> SERVICES </p></a>
<a id="6"><p class="menu"> CONTACT </p></a>
</div>
</div>