
<!--responsive menu-->
<div id="res_menu">
<div id="res_menu_label">
<div id="line"></div><div id="line"></div><div id="line"></div>
</div>
</div>

<!---Normal Menu-->
<div id="menu2"></div>
<div id="menu">
<a href="<%= root_path %>"> <img class="logo" src="http://ikushum.herokuapp.com/static/img/logo.gif"> </a>
<div id="menu_tabs">
<a href='<%= root_path %>' id=""><p class="menu"> HOME </p></a>
<a id=""><p class="menu"> ABOUT </p></a>
<a id=""><p class="menu"> GALLERY </p></a>
<a id=""><p class="menu"> SERVICES </p></a>
<a href="<%= new_post_path %>"><p class="menu"> NEW POST </p></a>
<a id=""><p class="menu"> CONTACT </p></a>

</div>
</div>

