/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree 
 */
 


body{
	width:100%;
	background-color:black;
	margin:0px;
	padding:0px;
    font-family: 'Oxygen', sans-serif;
}

a{
	text-decoration:none;
	color:#757171;
	cursor:pointer;
}

label{
	display:none;
}

#body_wrapper{
	display:none;
}

#header{
	position:absolute;
	margin:0px;
	padding:0px;
	width:100%;
	overflow:hidden;
	background-color:black;
	background-image:url('https://ikushum.herokuapp.com/static/img/cover4.jpg');
	background-position:center;
	background-repeat:no-repeat;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	display:block;
	z-index:0;
     background-attachment: fixed;	
}

#coverText{
	width:100%;
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
}

h1{
    font-size:80px;
    color: #FFF;
    text-align:center;
	margin:0px;
	padding:0px 10px;
}

h1.header_head{	
	line-height:60px;


    font-family: 'Open Sans', sans-serif;

	font-weight:800;
	margin-bottom:10px;	
}

h2{
    color: #FFF;
    text-align:center;
	margin:0px;
}

span{
	font-size:20px;
	font-style:italic;
	font-weight:0px;
}

#menu{
	position:fixed;
	width:100%;
	height:70px;
	z-index:3;
}

#menu2{
	display:none;
	position:fixed;
	width:100%;
	height:70px;
	z-index:2;
	background-color:#393535;
}

img.logo{
	width:120px;
	height:auto;
	padding:10px 40px;
}

#menu_tabs{
	position:absolute;
	top:0px;
	right:0px;
	padding:22px 20px;
}

p.menu{
	display:inline;
	font-size:13px;
	color:white;	
	padding:10px 25px;
	margin:0px 1px;
	font-weight:bold;
	letter-spacing:1px;
	transition: color 0.4s;
}

p.menu:hover{
	color:#769CFB;
}

.admin-menu{
	
}

p.menu:hover{
	color:#769CFB;
}

.edit_delete{
	display:inline-block;
	font-size:15px;
	text-align:center;
	padding:0px 10px;
	color:#BAB5B5;
	margin:5px 0px;
}

.edit_delete:hover{
	color:#769CFB;
}


#content{
	position:absolute;
	width:100%;
	background-color:white;
	height:auto;
	z-index:1;
	padding:0px;
}

#button{
	width:100%;
}

text{	
	display:table;
	padding:10px 20px;
	font-size:15px;
	text-align: center;
	border:2px solid #383838;
	border-radius:20px;
	margin:0px auto;
	white-space: nowrap;
	font-weight:bold;
	letter-spacing:2px;
	color:#383838;
	transition: color 0.5s, background-color 0.5s;
}

text:hover{
	background-color:#383838;
	color:white;	
}

.submit_button{
	width:auto;
    margin:0px auto;
	padding:10px 20px;
	font-size:15px;
	text-align: center;
	border:2px solid grey;
	border-radius:20px;
	font-weight:bold;
	letter-spacing:2px;
	white-space: nowrap;
	cursor: pointer;
	margin-top:50px;
	color:grey;
	background-color:white;
	transition: color 0.5s, background-color 0.5s;
}

.submit_button:hover{
	color:white;
	background-color: grey;
}

#sign_in_form{
	width:40%;
	margin:100px auto;
	text-align:center;
}

#footer{
	background-color:#393535;
	padding:40px;
	margin-top:90px;
}

text.footer{
	padding:0px;
	display:table;
	margin:0px auto;
	text-align:center;
	font-size:13px;
	color:#EFE9E9;
	line-height:3px;
	border:none;
	font-weight:normal;
}

#footer_icons{
	text-align:center;
	width:0px auto;
	margin:15px auto;
}

img.footer_icons{
	height:20px;
	width:auto;
	padding:10px 5px;
	transition : opacity 0.5s;
}

img.footer_icons:hover{
	opacity:0.4;
}

@media screen and (max-width: 768px){

.loading_image{
	left:40%;
}

#content{
	overflow:hidden;
	width:100%;
}
	
h1.header_head{
	font-size:50px;
}	

h2.header-head{
	font-size:30px;
}	

#res_menu{
	position:fixed;
	margin:0px;
	top:0px;
	height:50px;
	z-index:6;
	padding:0px 0px;
	width:100%;
}

#res_menu_label{
	width:100%;
	padding:15px;
	display:inline;
	float:left;
	cursor:pointer;
	margin-left:30px;
}

#line{
	height:3px;
	width:22px;
	background-color:white;
	margin:4px;
}

#menu{
	background-color:#333333;	
	height:auto;
	z-index:4;
	padding:10px 0px 0px 0px;
	width:100%;
}

#menu_tabs{
	position:absolute;
	top:auto;
	float:none;
	padding:0px;
	background-color:#333333;
}

p.menu{
	display:none;
	float:left;
	color:white;
	font-size:15px;
	width:100%;
	border-top:1px solid #716B6B;
	padding:10px 50% 10px 50px;
	margin:0px;
}

#menu2{
	display:none;
	height:0px;
}

img.logo{
	width:80px;
	height:auto;
	padding:0px 0px 10px 0px;
	margin:0px auto;
	z-index:6;
	display:block;	
	overflow:hidden;
}

#about_image_holder{
	width:420px;
}

img.personal{
	width:100px;
}

p.paragraph{
	font-size:16px;
	padding:20px 10%;	
	line-height:30px;
}

input{
	width:400px;
}

h1.image_hover1{
	font-size:17px;
}

h1.image_hover2{
	font-size:17px;
}

h1.image_hover3{
	font-size:17px;
}

h1.image_hover4{
	font-size:17px;
}

h1.image_hover5{
	font-size:15px;
}

h1.image_hover6{
	font-size:17px;
}

span.gallery_head{
	font-size:23px;
}

span.download{
		font-size:14px;
}
}

@media screen and (max-width: 480px){

.loading_image{
	left:30%;
}

h1.header_head{
	font-size:35px;
	line-height:40px;
}	

h2.header_head{
	font-size:17px;
}	

text{
	font-size:13px;
	border:1px solid #383838;
}

h1.header1{
	font-size:30px;
}

p.paragraph{
	font-size:15px;
	line-height:20px;
}

#about_image_holder{
	width:210px;
}

img.personal{
	width:100px;
}

#gallery_home1{
	width:100%;
}

#gallery_home2{
	margin-top:-5px;
	width:100%;
}

#gallery_home3{
	width:100%;
}

#gallery_home4{
	margin-top:-5px;
	width:100%;
}

#gallery_home5{
	margin-top:-5px;
	width:100%;
}

#gallery_home6{
	margin-top:-5px;
	width:100%;
}

h1.image_hover1{
	width:100%;
	margin-top:25%;
	font-size:14px;
}

h1.image_hover2{
	width:100%;
	margin-top:20%;
	font-size:14px;
}

h1.image_hover3{
	width:100%;
	margin-top:20%;
	font-size:14px;
}

h1.image_hover4{
	width:100%;
	margin-top:40%;
	font-size:14px;
}

h1.image_hover5{
	width:100%;
	margin-top:40%;
	font-size:14px;
}

h1.image_hover6{
	width:100%;
	margin-top:20%;
	font-size:14px;
}

span.gallery_head{
	font-size:25px;
}

span.download{
		font-size:14px;
}

.services_items{
	width:200px;
}

input{
	width:250px;
	font-size:14px;
}

.submit_button{
	font-size:13px;
	border:1px solid #383838;
}

#footer{
	padding:30px;
	margin-top:50px;
}

text.footer{
	font-size:9px;
}

}
